/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";


*{
    box-sizing:boder-box;

}
.navbar{
    padding: 0.5rem 1rem;
    display: flex;
    align-items:center;
    position:relative;
}
.container{

    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    
}
.navbar-nav{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;

    
    
}
.nav-link{
    display:inline-block;
    text-decoration: none;  
}


.fas {
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    line-height: normal;
    padding-right: 10px;
}
a:link, a:visited, a:hover, a:active{
    color:"#fff";

}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
#flash {
  background-color: white;
  color: #008000;
  text-align: left;
}

#alert, #error_explanation {
  background-color: white;
  color: #FF0000;
  text-align: left;
}
